.idea/*
venv/*
data/experiments/*
output/*
declareOutput/*
SepsisDWD/*
__pycache__
__pycache__/
__pycache__/*
data/logs/class_single_extra_1.xes
data/logs/class_single_missing_1.xes
data/logs/sepsis_decl.xes
data/logs/sepsis_mr_tr.xes
data/logs/sepsis_mra_tra.xes
data/logs/sepsis_proc.xes
data/logs/sepsis_payload.xes
data/logs/xray_decl.xes
data/logs/xray_mr_tr.xes
data/logs/xray_mra_tra.xes
data/logs/xray_proc.xes
data/logs/xray_payload.xes
data/logs/bpi2011.xes.gz
data/logs/bpi2017.xes.gz
data/logs/bpi2011_dCC.xes
data/logs/bpi2011_m13.xes
data/logs/bpi2011_m16.xes
data/logs/bpi2011_t101.xes
data/logs/merged_xray.xes
complete_embeddings/
complete_embeddings/*
data/logs/bpi2011.xes
data/logs/sepsis_tagged_er_1.xes
data/logs/sepsis_tagged_er_2.xes
data/logs/sepsis_tagged_er_3.xes
data/logs/sepsis_tagged_er_4.xes
data/logs/sepsis_tagged_er_5.xes
data/onehot_transformations.txt
*.csv
sepsis_proc.json
sepsis_decl.json
sepsis_mr_tr.json
sepsis_mra_tra.json
sepsis_payload.json
xray_proc.json
xray_decl.json
xray_mr_tr.json
xray_mra_tra.json
xray_payload.json
data/logs/merged_xray_1.xes
data/logs/merged_xray_2.xes
data/logs/merged_xray_3.xes
data/logs/merged_xray_4.xes
data/logs/merged_xray_5.xes
test_synth_xray_results.txt
train_synth_xray_results.txt
*.tar.xz
*.7z
data/logs/sepsis.xes_unique.xes
data/logs/merged_xray.xes_unique.xes
EnglishBPIChallenge2011.xes
EnglishBPIChallenge2011.xes_unique.xes